@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>BuySave</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>What is BuySave?</h2>
        <p>
            BuySave is a website where you can search for any games or gaming gear and see what website other gamers bought the same product from and how much they paid.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Be a reviewer:</h2>
        <p>Have you recently bought a product from a website? Post your experience buying from the website so more gamers can buy while saving.</p>
        <p><a class="btn btn-default" href="https://docs.asp.net/en/latest/data/ef-mvc/intro.html">Post a review &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Search now</h2>
        <p>Are you ready to start saving?</p>
        <p><a class="btn btn-default" href="https://localhost:5001/">Search BuySave! &raquo;</a></p>
    </div>
    </div>